@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

table.mainBoard {
    position: relative;
    border-spacing: 0;
    overflow: visible;
}

table.mainBoard.black {
    transform: rotate(180deg);
}

table.mainBoard.black tr td {
    overflow: visible;
}

table.mainBoard tr {
    display:flex;
    overflow: visible;
}

.chessboard {
    font-family: 'chessfont';
    float: left;
    margin-left: 267px;
    position: relative;
    margin-top: 50px;
}

.captures .pieceScore {
    color: black;
    font-family: "Nunito";
    font-size: .425em;
    font-weight: 700;
    margin-left: 10px;
    text-shadow: none;
}

.captures {
    font-size: 2em;
    position: absolute;
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    margin-top: .325em;
}

.captures.black {
    color: black;
}

.captures.enemy {
    margin-top: -1.25em;
}

.promoteWrapper {
    z-index: 1000;
    position: absolute;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.325);
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
}

.dot {
    width: 35px;
    height:35px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 0;
    opacity: 0;
}

.dot.active {
    opacity: .325;
}

.moveHistory {
    font-family: 'Nunito';
    float:left;
    margin-left: 25px;
    width: 420px;
    display:flex;
    background-color: whitesmoke;
    padding: 20px;
    margin-top:50px;
    border-radius: 4px;
    flex-flow: row wrap;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}

.move {
    display: flex;
    flex-basis: 33%;
}

.move > div {
    display:flex;
    align-items: center;
    font-weight: 800;
    font-size: .65em;
    margin: 6px 5px;
}

.move > div span {
    padding: 4px 10px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.move .blackMove span {
    background-color: rgb(61, 61, 61);
    color:white;
}

.move > div span:nth-child(2) {
    background-color: black;
}

.move .moveNumber {
    width: 25px;
    font-size: .65em;
    display:flex;
    align-items: center;
    font-weight: 800;
}

.promoteWrapper.black > div {
    color:black;
}

.promoteWrapper > div {
    outline: black;
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 87px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color:white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.mark {
    position: absolute;
    z-index: 1;
    user-select: none;
    font-family: 'Nunito';
    font-size: .875em;
    font-weight: bold;
    opacity: .325;
}

table.mainBoard.black .promoteWrapper > div {
    color: black;
}

table.mainBoard tr td {
    position: relative;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    user-select: none;
    padding: 0;
    font-size: 87px;
}

table.mainBoard tr:nth-child(1n) td:nth-child(2n) {
    background-color: darkgray;
}

table.mainBoard tr:nth-child(2n) td:nth-child(2n - 1) {
    background-color: darkgray;
}

table.mainBoard tr:nth-child(2n) td:nth-child(2n) {
    background-color: lightgray;
}

.piece {
    overflow: visible;
    z-index:100;
    cursor: grab;
    width: 100%;
    height: 100%;
    color: black;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    display:flex; justify-content: center; align-items: flex-end;
}

.piece.white {
    color: white;
}

.piece.black {
    color: black;
}